<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Action Screen</title>

</head>

<body>

<form action="{{url_for("plyr_scrn")}}" method="get" style="text-align:center">
    
    <table>
        {% for item in red_team %}
            <tr>
                <td>{{item}}</td>
            </tr>
            <tr>
                <td>{{item}}</td>
            </tr>
            <tr>
                <td>{{item}}</td>
            </tr>
            <tr>
                <td>{{item}}</td>
            </tr>
            <tr>
                <td>{{item}}</td>
            </tr>
        {% endfor %}
    </table>
    
    
</form>
</body>
</html>