<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PlayerEntryV2</title>
	<style>

		body {background-color: rgb(236, 187, 50);}
		table{
			border: 2px solid;
		}

		.ENT1 {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
  			min-height: 100vh;
			font-weight: bold;
		}		
		.CHILD1{
			
			width: 1000px;
			height:200px;
			font-family: Arial;
			float: left;
			display: flex;

			justify-content: center;
			align-items: center;
			text-align: center;			
		}	

	</style>
	</head>
	<body background-color: rgba(25,80,206,0.53);>
        <form action="{{ url_for("edit")}}" method="post" style="text-align:center">
			<p>PLAYER ENTRY</p>
		        <div class = "ENT1">
					<div class="CHILD1">	
					<table>
						<tr name ="row0">
						<td>ID #</td>
						<td>CODENAME</td>
						<td>FIRST NAME</td>
						<td>LAST NAME</td>
						</tr>
						<tr name="row1">
							<td><input type="text" name="player_id_1"></td>
							<td><input type="text" name="player_codename_1"></td>
							<td><input type="text" name="player_first_1"></td>
							<td><input type="text" name="player_last_1"></td>
						</tr>
						<tr name="row2">
							<td><input type="text" name="player_id_2"></td>
							<td><input type="text" name="player_codename_2"></td>
							<td><input type="text" name="player_first_2"></td>
							<td><input type="text" name="player_last_2"></td>
						</tr>
						<div><input type = "submit" value = "Submit" /></div>
					</table>	
					
					
					</div>
				
			</div>								
        </form>
	</body>