<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PlayerEntryV2</title>
	<style>
				/*Test*/
		body {
			background: url(/static/background2.png);
			background-size: vw, contain;
			background-position: center;
		}
		}
		table{
			table-layout: fixed;
			border-collapse: collapse;
		}
		.BLUE{
			background-color:rgb(11, 37, 124);
			border: 2px solid rgb(40, 23, 196);
		}
		.RED{
			background-color:rgb(90, 12, 12);
			border: 2px solid rgb(196, 23, 23);
		}
		th, td {
			padding: 5px;
		}

		.ENT1 {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
  			min-height: 100vh;
			font-weight: bold;
		}		
		.CHILD1{
			color: rgb(228, 216, 207);
			width: 1000px;
			height:200px;
			font-family: Arial;
			float: left;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;			
		}	
		p{
			font-size: 713%;
		}

		searchInput.onkeyup = function (e) {
		if (e.key === 'Enter') {
			searchBtn.click();
			}
		}

	</style>
	<script>
		document.addEventListener('keydown', function (event)
				{
					if(event.key === '115')
					{
						window.location.replace("./actionScreen");
					}
				});
	</script>
	</head>
	<body background-color: rgba(25,80,206,0.53);>
		<form action="{{ url_for("edit")}}" method="post" style="text-align:center">
			<p style="color: azure; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; margin-bottom: 0px; margin-top: 0px;">PLAYER ENTRY</p>
				<div class = "ENT1">
					<div class="CHILD1">	
					<table class="BLUE">
						<thead class = "BLUE">
							<tr>
							  <th scope="row" colspan="4" style="color: azure;">Blue Team</th>
							</tr>
						</thead>
						<thead class = "BLUE">
							<tr name ="row0">
								<th style="color: azure;">ID #</th>
								<th style="color: azure;">CODENAME</th>
								<th style="color: azure;">FIRST NAME</th>
								<th style="color: azure;">LAST NAME</th>
							</tr>
						</thead>
						<tr name="row1">
							<td><input type="text" name="player_id_b" required></td>
							<td><input type="text" name="player_codename_b" required></td>
							<td><input type="text" name="player_first_b" required></td>
							<td><input type="text" name="player_last_b" required></td>
						</tr>
						<tr name="row2">
							<td><input type="text" name="player_id_b"></td>
							<td><input type="text" name="player_codename_b"></td>
							<td><input type="text" name="player_first_b"></td>
							<td><input type="text" name="player_last_b"></td>
						</tr>
						<tr name="row3">
							<td><input type="text" name="player_id_b"></td>
							<td><input type="text" name="player_codename_b"></td>
							<td><input type="text" name="player_first_b"></td>
							<td><input type="text" name="player_last_b"></td>
						</tr>
						<tr name="row4">
							<td><input type="text" name="player_id_b"></td>
							<td><input type="text" name="player_codename_b"></td>
							<td><input type="text" name="player_first_b"></td>
							<td><input type="text" name="player_last_b"></td>
						</tr>
						<tr name="row5">
							<td><input type="text" name="player_id_b"></td>
							<td><input type="text" name="player_codename_b"></td>
							<td><input type="text" name="player_first_b"></td>
							<td><input type="text" name="player_last_b"></td>
						</tr>
						<tr name="row6">
							<td><input type="text" name="player_id_b"></td>
							<td><input type="text" name="player_codename_b"></td>
							<td><input type="text" name="player_first_b"></td>
							<td><input type="text" name="player_last_b"></td>
						</tr>
						<tr name="row7">
							<td><input type="text" name="player_id_b"></td>
							<td><input type="text" name="player_codename_b"></td>
							<td><input type="text" name="player_first_b"></td>
							<td><input type="text" name="player_last_b"></td>
						</tr>
						<tr name="row8">
							<td><input type="text" name="player_id_b"></td>
							<td><input type="text" name="player_codename_b"></td>
							<td><input type="text" name="player_first_b"></td>
							<td><input type="text" name="player_last_b"></td>
						</tr>
					</table>

					<table class = "RED">
						<thead class = "RED">
							<tr>
							  <th scope="row" colspan="4" style="color: azure;">Red Team</th>
							</tr>
						</thead>
						<thead class = "RED">
							<tr name ="row0">
								<th style="color: azure;">ID #</th>
								<th style="color: azure;">CODENAME</th>
								<th style="color: azure;">FIRST NAME</th>
								<th style="color: azure;">LAST NAME</th>
							</tr>
						</thead>
						<tr name="row1">
							<td><input type="text" name="player_id_r" required></td>
							<td><input type="text" name="player_codename_r" required></td>
							<td><input type="text" name="player_first_r" required></td>
							<td><input type="text" name="player_last_r" required></td>
						</tr>
						<tr name="row2">
							<td><input type="text" name="player_id_r"></td>
							<td><input type="text" name="player_codename_r"></td>
							<td><input type="text" name="player_first_r"></td>
							<td><input type="text" name="player_last_r"></td>
						</tr>
						<tr name="row3">
							<td><input type="text" name="player_id_r"></td>
							<td><input type="text" name="player_codename_r"></td>
							<td><input type="text" name="player_first_r"></td>
							<td><input type="text" name="player_last_r"></td>
						</tr>
						<tr name="row4">
							<td><input type="text" name="player_id_r"></td>
							<td><input type="text" name="player_codename_r"></td>
							<td><input type="text" name="player_first_r"></td>
							<td><input type="text" name="player_last_r"></td>
						</tr>
						<tr name="row5">
							<td><input type="text" name="player_id_r"></td>
							<td><input type="text" name="player_codename_r"></td>
							<td><input type="text" name="player_first_r"></td>
							<td><input type="text" name="player_last_r"></td>
						</tr>
						<tr name="row6">
							<td><input type="text" name="player_id_r"></td>
							<td><input type="text" name="player_codename_r"></td>
							<td><input type="text" name="player_first_r"></td>
							<td><input type="text" name="player_last_r"></td>
						</tr>
						<tr name="row7">
							<td><input type="text" name="player_id_r"></td>
							<td><input type="text" name="player_codename_r"></td>
							<td><input type="text" name="player_first_r"></td>
							<td><input type="text" name="player_last_r"></td>
						</tr>
						<tr name="row8">
							<td><input type="text" name="player_id_r"></td>
							<td><input type="text" name="player_codename_r"></td>
							<td><input type="text" name="player_first_r"></td>
							<td><input type="text" name="player_last_r"></td>
						</tr>
					</table>
					</div>
			</div>
			<div style = "text-align: center; position: relative; bottom: 10px"><input onkeyup="if(event.keyCode===13){submit.click()}" input type = "submit" style="display: none" value = "Submit" /></div>
		</form>
		
	</body>
</html>
